[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.slnLaunch.user

packages/
*.nupkg

node_modules/
tmp_node/
package-lock.json

build.log
build_output.txt
*.log
tmp_*

EOSClient_23.02.20.26/
EOSBase/

Thumbs.db
Desktop.ini
.DS_Store
